<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darknet</title>
    <link rel="stylesheet" href="/static/css/styles.css"> 
    <script type="importmap">
      {
          "imports": {
              "three": "https://cdn.jsdelivr.net/npm/three@0.172.0/build/three.module.js",
              "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.172.0/examples/jsm/"
          }
      }
  </script>
  <script type="module" src="/static/js/globe.js" defer></script>
</head>
<body>
    <h1>Space Debris Visualization</h1>
    <div id="visualization"></div>
    <div id="tooltip" style="display: none; position: absolute; background: #fff; border: 1px solid #ccc; padding: 5px; font-size: 12px;"></div> 
</body>
</html>